body{
    background-color:silver;
    background-image: url("BG.jpg");
    font-family: 'Playfair Display', serif;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
.Welcome{
    padding-top: 450px;
    font-size: 40px;
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.Find{
   
    border: 0.5;
    font-family: 'Playfair Display', serif;
}
table.Menu{
    border: 0.5;
    padding-left: 0px;
    padding-top: 100px;
    font-size: 30px;

}
.History{
    font-family: 'Playfair Display', serif;
}


.Game{
    padding-bottom: 25px;
    
}
.OW{
   padding-right: 100px;
}

.R6{
padding-left: 100px;
}

footer{
    background-color: silver;
    padding-top: 25px;
}
td{
    padding: 15px;
}


