body{
    background-color:silver;
    background-image: url("BG.jpg");
    font-family: 'Playfair Display', serif;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}


marquee{
    text-align: center;
    padding-top: 150px;
}

.Find{
    padding-left: 1700px;
    border: 0.5;
    font-family: 'Playfair Display', serif;
}

.Mark{
    padding-top: 150px;
    padding-left: 50px;
   
}

.backicon{
    padding-right: 1650px;
}


.HisMess{
    font-size: 30px;
}